<footer>
    <div class="footer flex align-center justify-center">
        <a href="" class="brand">
            <img src="/images/icon.png" alt="icon">
        </a>
        <small>&copy; copyright 2022</small>
    </div>
</footer>
</body>