<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>form</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header flex">
        <a href="/" class="btn">home</a>
        <a href="/users/dashboard" class="btn">dashboard</a>
        <a href="/users/login" class="btn">login</a>
        <a href="/users/register" class="btn">register</a>
    </div>
</header>