<%- include('partials/header') -%>

<main>
    <div>
        <h1 class="text-center">Register</h1>
        <form action="/users/register" method="post">
            <fieldset>
                <% if(error){ %>
                    <p class="red"><%= error %></p>
                <% } %>
                <input type="text" name="name" id="" placeholder="enter name">
                <input type="email" name="email" id="" placeholder="enter email">
                <input type="password" name="password" id="" placeholder="enter password">
                <input type="number" name="age" id="" placeholder="enter age">
                <input type="number" name="phone" id="" placeholder="enter phone">
                <input type="submit" value="register">
            </fieldset>
        </form>
    </div>
</main>
<%- include('partials/footer') -%>