<%- include('partials/header') -%>
<main>
    <div class="register">
        <h1 class="text-center red">register</h1>
        <form action="/users/register" method="post">
            <fieldset>
                <% if(err){ %>
                    <p class="red"><%= err %></p>
                <% } %>
                <input class="form-control" type="text" name="name" id="" placeholder="enter name">
                <input class="form-control" type="email" name="email" id="" placeholder="enter email">
                <input class="form-control" type="password" name="password" id="" placeholder="enter password">
                <input class="form-control" type="submit" value="register">
            </fieldset>
        </form>
    </div>
</main>

<%- include('partials/footer') -%>