<%- include('partials/header') -%>
<main>
  <div class="text-center home">
    <h1 class="blue">blog app</h1>
    <a href="/articles" class="btn bg-green">show articles</a>
  </div>
</main>
<%- include('partials/footer') -%>