<%- include('partials/header') -%>
<main>
  <section class="text-center login form">
    <h1 class="blue">blog app <br> login user</h1>
    <form action="/users/login" method="post">
        <fieldset>
            <% if(error){ %>
                <p class="red"><%= error %></p>
            <% }%>
            <% if(success){ %>
                <p class="green"><%= success %></p>
            <% }%>
            <input class="form-control" type="email" name="email" id="" placeholder="Enter Email">
            <input class="form-control" type="password" name="password" id="" placeholder="Enter Password">
            <input class="form-control" type="submit" value="Login user">
        </fieldset>
    </form>
  </section>
</main>
<%- include('partials/footer') -%>